:root {
    --watermelon: #ed254e;
    --royal-gold: #f9dc5c;
    --tea-green: #c2eabd;
    --prussian-blue: #011936;
    --charcoal-blue: #465362;
    --soft-grey: #F2F2F2;
    --soft-yelow: #F5F0DA;
	font-family: "Iosevka", sans-serif;
	background-color: white;

}

debug { display: none; }          /* hide in production */
debug[data-visible] { display: block; }

body{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10rem;

	padding-left: 0.5rem;
	padding-right: 0.5rem;
	width: 36rem;

   box-sizing: border-box;

}

.title-top {
	background-color: var(--soft-yelow);
	border-radius: 2px;
}

header {
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
}

div {
	/*debug borders*/
	
/*	border-color: green;
	border-style: solid;
	border-width: 1px;*/
	
	/*debug borders*/
}
#title-top-1, #subtitle-top-1 {
	color: var(--prussian-blue);
	margin: 0.6rem;

}

.task-list {
	margin-top: 0.5rem;
	padding: 0.5rem;
	background-color: var(--soft-grey);
	display: grid;
	gap: 0.5rem;
}

#add-task-input{
	width: 20rem;
}

.add-task-area {
	display: flex;
	justify-content: space-between;
}

.task-element {
	padding: 0.2rem;
	background-color: white;
	border-style: solid;
	border-radius: 2px;
	border-width: 1px;
	border-color: var(--royal-gold);
	display: flex;
	align-items: center;
}

.edit-delete-btns {
	display: flex;
	margin-left: auto;
	gap: 0.5rem;
}

li::marker {
  color: red;
  font-size: 1.2em;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
 }

.btn {
	padding: 0.2rem;
	color: var(--prussian-blue);
	background-color: var(--royal-gold);
	transition: 0.1s;
	border-top: none;
	border-left: none;
	/* border-right: none; */
	font-family: "Iosevka", sans-serif;
  cursor: pointer;

}

.btn:hover {
	background-color: var(--tea-green);
}

.btn:active {
	background-color: var(--tea-green);
	transform: scale(0.96);

}

.add-task {
	color: var(--charcoal-blue);
}

.delete-tasks {
	color: var(--watermelon);
}

.add-task, .delete-tasks .refresh-tasks{
	padding: 0.6rem;
	font-family: "Iosevka", sans-serif;


}

.check-btn {
	width: 20px;
	height: 20px;
	margin-right: 0.5rem;
	background-image: url("/static/images/btn-check/check-1.png");
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
	border: none;
    background-color: transparent;
    cursor: pointer;
}
.check-btn:hover {
	background-image: url("/static/images/btn-check/check-1-hover.png");

}

.check-btn:active {
	background-image: url("/static/images/btn-check/check-1-active.png");

}

.check-canvas {
	border-width: 1px;
}

.taskCompleted {
	text-decoration-line: line-through;
	background-color: var(--tea-green);
}


/* TOOLTIPS */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
	left: 150%;
	bottom: 10%;
  visibility: hidden;
  width: 130px;
  background-color: var(--prussian-blue);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

