<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Todo Datastar Gero</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Assertive Abstract">
  <!-- Cargamos Datastar desde CDN -->
  <script type="module" src="https://cdn.jsdelivr.net/gh/starfederation/datastar@v1.0.2/bundles/datastar.js"></script>
  <link rel="stylesheet" href="/static/style.css">

</head>
<style>

</style>

<body>
  <header>
    <h1 id="title-top-1">Todo - DATASTAR </h1>
    <h3 id="subtitle-top-1">A To-Do App made with Python and Datastar</h3>
  </header>
  <main>
    </div>
    <main>
      <div style="display: grid;">

        <div class="add-task-area">
          <!-- CREATE TASK -->

          <input style="border-color: var(--watermelon);" id="add-task-input" type="text" value="" data-bind:new_task>

          <button
            data-on:click="$new_task.length != 0 && $new_task != ' ' ? @post('/add-task') : alert('Add correct task name'); "
            class="btn add-task">Add Task</button>

          <!-- DELETE ALL TASKS -->

          <button data-on:click="@post('/delete-all-tasks')" class="btn delete-tasks">Delete all tasks</button>
        </div>

    </main>

    <!-- LIST OF TASKS -->


    <div id="task-list-2" class="task-list">
    </div>


    <!-- TESTING AND DEVLOPMENT DIV -->
    <!-- -------------------------- -->

    <div id="task-list-3" class="task-list">

      <div class="task-element" id={task_id} data-on:click="$clickedTask=el.id; 
        @post('/mark-completed')">

        <div class="check-btn"></div>

        {task_name} ->
        <span>{task_completed}</span>
        <div class="edit-delete-btns">
          <button class="btn">Edit</button>
          <button class="btn">Delete</button>
        </div>
      </div>
    </div>
    <!-- -------------------------- -->

    <br>
  </main>


  <script src="/static/app.js"></script>
</body>

</html>

















<!--  -->